/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(332deg, rgba(0, 0, 0, 0.407) 0%, rgba(229, 224, 138, 0.834) 50%), url(https://images.unsplash.com/photo-1494949649109-ecfc3b8c35df);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 97.8vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0.5%;
    background: linear-gradient(90deg, rgba(19,44,111,1) 42%, rgba(210,217,240,1) 91%);
    height: 40px;
    border-radius: 1000px;
    margin: 20px;
}

/* Fonts */
.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lora-FONT {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

a {
    font-family: "Titillium Web", sans-serif;
    text-decoration: none;
    color: white;
}

.nav_contents{
    list-style: none;
}

.nav_contents li{
    display: inline-block;
    padding: 0px 3px;
}

.nav_contents li a {
    transition: all 0.3s ease 0s;
}

.nav_contents li a:hover {
    background-color: #97C4EF;
}

a{
    background-color: #5094D7;
    border-radius: 20px;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav_contents li a.active {
    background-color: #0B6FD1;
    box-shadow: 4px 4px 7px -5px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 4px 4px 7px -5px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 4px 4px 7px -5px rgba(0,0,0,0.75) inset;
}

h2{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    text-align: center;
    font-size: 9rem;
}


article{

    border-radius: 15px;
    padding: 15px;
    margin: 25px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.801) 42%, rgba(0, 0, 0, 0.303) 91%);
    font-family: "Titillium Web";
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 480px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3rem;
    }
    .nav_contents li{
        display: inline-block;
        padding: 0px 0px;
    }
    a{
        background-color: #5094D7;
        border-radius: 20px;
        padding: 10px 6px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 1%;
        background: linear-gradient(90deg, rgba(19,44,111,1) 42%, rgba(210,217,240,1) 91%);
        height: 40px;
        border-radius: 1000px;
        margin: 20px;
    }

}