/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body{
    background: linear-gradient(332deg, rgba(254,254,254,0) 0%, rgba(255,255,255,1) 50%), url(https://images.unsplash.com/photo-1494949649109-ecfc3b8c35df);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow:hidden;
    transition: all 0.3s ease;
}

h2{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    text-align: center;
    font-size: 9rem;
}
.TITLE{
    padding-top: 15vh;
}
.ADNU, .Helpdesk{
    color: #132C6F;
}
.DEKUSU, .Student{
    color: #F6D784;
}

/* Dark mode button */
.dark-mode-btn {
    position: absolute;
    top: 5rem;
    right: 25px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #222222a9;
    transition: all 0.3s ease;
}
.dark-mode .dark-mode-btn{
    position: absolute;
    top: 5rem;
    right: 37px;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    
}

/* Dark mode styles */
.dark-mode{
    background: #8a8a8a;
    background: radial-gradient(circle, rgba(138, 138, 138, 0.97) 8%, rgba(0, 0, 0, 0.92) 89%),url(https://images.unsplash.com/photo-1494949649109-ecfc3b8c35df);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow:hidden;
}

.dark-mode .ADNU{
    color: #3068FF;
}
.dark-mode .Helpdesk{
    color: #3068FF;
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 480px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3rem;
    }
}