/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body{
    background: linear-gradient(332deg, rgba(254,254,254,0) 0%, rgba(255,255,255,1) 50%), url(https://images.unsplash.com/photo-1494949649109-ecfc3b8c35df);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease;
}

h2{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    text-align: center;
    font-size: 9rem;
}
.TITLE{
    padding-top: 25vh;
}
.ADNU, .Helpdesk{
    color: #132C6F;
}
.DEKUSU, .Student{
    color: #F6D784;
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 480px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3rem;
    }
}