/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body{
    background: #FFFFFF;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(232, 232, 232, 0.541) 100%),url(https://images.unsplash.com/photo-1494949649109-ecfc3b8c35df);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    transition: all 0.3s ease;
}

/* Fonts */
.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lora-FONT {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.announcements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.announcements .article{
    flex-grow: 1;
    flex-basis: 200;
}

article{
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(232, 232, 232, 0.541) 100%);
    font-family: "Titillium Web";
    border-style: solid;
    border-width: 0.5px;
    border-color: #9292927e;
    border-radius: 10px;
    align-content: center;
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 1043px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 480px) {
    h2{
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bolder;
        text-align: center;
        font-size: 3rem;
    }
    .nav_contents li{
        display: inline-block;
        padding: 0px 0px;
    }
    a{
        background-color: #5094D7;
        border-radius: 20px;
        padding: 10px 6px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}